.fromToDepartContainer {
  display: none;
  font-size: 20px;
  color: greenyellow;
}

.multiCity {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr;
}

input {
  padding: 0.625rem;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: #4b5563;
  margin: 0.25rem;
  box-sizing: border-box;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #ffffff;
  background-color: #374151;
}

input:focus {
  outline: 2px solid #22c55e;
  border-color: #22c55e;
}

.fromMultiCity {
  grid-row: 1;
  grid-column: 1/4;
}

.toMultiCity {
  grid-row: 1;
  grid-column: 2/4;
}

.departDateMultiCity {
  grid-row: 1;
  grid-column: 3/4;
}

.returnDateMultiCity,
.returnDateOneWay {
  display: none;
}

.addDeleteButtonOneWay,
.addDeleteButtonRoundTrip {
  display: none;
}

.addDeleteButtonMultiCity {
  grid-row: 1;
  grid-column: 4/4;
}

@media screen and (max-width: 425px) {
  .oneWay {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto 1fr;
  }

  .roundTrip {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto 1fr;
  }

  .multiCity {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .fromOneWay,
  .fromRoundTrip {
    grid-row: 1;
    grid-column: 1 / -1;
  }

  .toOneWay,
  .toRoundTrip {
    grid-row: 2;
    grid-column: 1 / -1;
  }

  .departDateOneWay,
  .departDateRoundTrip {
    grid-row: 3;
    grid-column: 1 / -1;
  }

  .returnDateRoundTrip {
    display: block;
    grid-row: 4;
    grid-column: 1 / -1;
  }

  .adultOneWay{
    grid-row: 4;
    grid-column: 1;
  }

  .adultRoundTrip{
    grid-row: 5;
    grid-column: 1;
  }
  
  .childOneWay{
    grid-row: 4;
    grid-column: 2;
  }

  .childRoundTrip{
    grid-row: 5;
    grid-column: 2;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .oneWay,.roundTrip{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
  }

  .fromOneWay,.fromRoundTrip {
    grid-row: 1;
    grid-column: 1;
  }

  .toOneWay,.roundTrip {
    grid-row: 1;
    grid-column: 2;
  }

  .departDateOneWay {
    grid-row: 2;
    grid-column: 1/-1;
  }

  .departDateRoundTrip {
    grid-row: 2;
    grid-column: 1;
  }

  .returnDateRoundTrip {
    grid-row: 2;
    grid-column: 2;
  }

  .adultOneWay {
    grid-row: 3;
    grid-column: 1;
  }

  .childOneWay {
    grid-row: 3;
    grid-column: 2;
  }
}

@media screen and (min-width: 768px) {
  .oneWay {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr;
  }

  .roundTrip {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .fromOneWay,.fromRoundTrip {
    grid-row: 1;
    grid-column: 1;
  }

  .toOneWay,.toRoundTrip {
    grid-row: 1;
    grid-column: 2;
  }

  .departDateOneWay {
    grid-row: 1;
    grid-column: 3;
  }

  .departDateRoundTrip {
    grid-row: 2;
    grid-column: 1;
  }

  .returnDateRoundTrip {
    grid-row: 2;
    grid-column: 2;
  }

  .adultOneWay {
    grid-row: 2;
    grid-column: 1;
  }

  .adultRoundTrip {
    grid-row: 3;
    grid-column: 1;
  }

  .childOneWay {
    grid-row: 2;
    grid-column: 2;
  }

  .childRoundTrip {
    grid-row: 3;
    grid-column: 2;
  }
}

.addButtonShow {
  display: inline-block;
  border-radius: 50%;
  font-size: 25px;
  color: #66ff00;
  border: solid #66ff00;
  background-color: darkgreen;
  box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 8px #66ff00, 0 0 12px #66ff00,
    0 0 20px #66ff00;
  margin-right: 10px;
}

.addButtonHide {
  display: none;
  padding: 10px;
}

.deleteButtonShow {
  display: inline-block;
  border-radius: 50%;
  font-size: 25px;
  color: #ff3131;
  border: solid #ff3131;
  background-color: darkred;
  box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 8px #ff3131, 0 0 12px #ff3131,
    0 0 20px #ff3131;
}

.deleteButtonHide {
  display: none;
}

.adultAndChildLabel {
  font-size: 20px;
  color: greenyellow;
}

.adultInput,
.childInput {
  background-color: white;
  border-radius: 50%;
  border-color: blue;
}

.adultMultiCityShow {
  display: block;
  grid-row: 2;
  grid-column: 1/4;
}

.childMultiCityShow {
  display: block;
  grid-row: 2;
  grid-column: 2/4;
}

.adultMultiCityHide,
.childMultiCityHide {
  display: none;
}

.autoCompleteFormContainerShow {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.autoCompleteFormContainerShow > ul {
  width: 180px;
  margin-block: 0px;
  padding-inline: 45px;
}

.autoCompleteFormContainerHide {
  display: none;
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.listItemShow {
  font-size: 16px;
  list-style: none;
  padding: 8px 12px;
  display: block;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.listItemHide {
  display: block;
}

.listItemShow:hover {
  background: darkgreen;
  border-radius: 5px;
}
