.card{
    width:600px;
    margin:20px;
    padding:10px;
    background-color:white;
    outline:1px solid red;
    border-radius:15px;
    box-shadow:2px 2px 15px 1px red;
}
.flex-row{
    display:flex;
    flex-direction: row;
    justify-content: space-around;

}
.flex-row>div{
    margin:0 40px;
    text-align:left;
}
.time{
    font-weight: bold;
}
table{
    width: 100%;
}
.place{

}
.duration{

}
.stoppage{

}
.price{
    font-weight: bold;
}
