.header{
    background-color: black;
}
.logo{
    width: fit-content;
    height: 6vw;
}
.navbar{
    width: 100%;
    display: inline-block;
}
.navbar a{
    float:right;
    padding:0.5vw;
}

.material-icons{
    color:#66D3FA;
}
.material-icons.md-3{font-size: 3vw;}
.nav-button{
    background-color: black;
    border-width: 0px;
    color:#66D3FA
}

.boxform{
    box-shadow: 0px 0px 2px 2px blue;
    padding:20px 20px;   
}

.form{
    display: block;
}

.triptype{
    color:blue;
    margin:1px;
}
.triptypelabels{
    margin-right: 50px;
    display: inline;
    color:blue;
    font-size: 20px;
    font-family: Georgia, serif;
}
.labels{
    display: inline;
    color:blue;
    font-size: 20px;
    font-family: Georgia, serif;
}

.returndate{
    display:none;
}

.returninput{
    display:none;
}

.adult{
    display:none;
    color:blue;
    font-size: 20px;
    font-family: Georgia, serif;
}
.adultinput{
    display:none;
    margin-right: 140px;
    
}
.child{
    display:none;
    color:blue;
    font-size: 20px;
    font-family: Georgia, serif;
}
.childinput{
    display:none;
}

.search{
    margin:5px 0px 5px 0px;
    display:none;
    font-size: 20px;
    padding:5px 10px;
    background-color: blue;
    
}